#name-and-slogan #site-slogan {
  font-style: normal;
  font-family: 'Comic Sans MS',Cursive;
  text-align: center;
  background-color: #b84db8;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

